.table-of-contents {
    padding: 15px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
}

.table-of-contents h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.table-of-contents ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.table-of-contents li {
    margin: 5px 0;
}

.table-of-contents a {
    text-decoration: none;
}

.table-of-contents a:hover {
    text-decoration: underline;
}